/* QUOTE */

.quote-container {
    padding : 20px;
    display: flex;
    height: 200px;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.quote-container h2 {
    width: 800px;
    font-size: 1.5rem;
}

.quote-container a {
    width: 350px;
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color:rgb(218, 134, 24);
}

.quote-container a:hover {
    color: rgb(238, 49, 15);
}

.quote-container a:visited {
    color: rgb(221, 19, 86);
}

.change-quote {
    width: 50px;
    height: 50px;
    background: url("images/change.png");
    background-size: cover;
    margin-left: 20px;
    border: none;
}

.change-quote:hover {
    transform: scale(1.05);
}

.change-quote:active {
    transform: scale(.99);
}


/* TIME */

.time-warper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-warper .time {
    font-size: 150px;
}

.time-warper .day {
    font-size: 30px;
}

.butts-container button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(230, 190, 118);
}

.butts-container button:hover {
    background: rgb(218, 183, 108);
}

.butts-container button:active {
    background: rgb(207, 192, 102);
    transform: scale(.98);
}

/* --------------------------------- */

@media screen and (max-width: 500px) {
    
    /* QUOTE */

    .quote-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .quote-box {
        margin-top: 10px;
    }

    .quote-container h2 {
        width: 100%;
        font-size: 1.1rem;
    }

    .change-quote {
        margin: 0;
        width: 30px;
        height: 30px;
    }

    /* TIME */
    
    .time-warper .time {
        font-size: 50px;
    }
}