:root.light {
    --color: darkslategray;
    --change-quote-filter: none;
    --quote-link-color: rgb(218, 134, 24);
    --clock-button-bg: rgb(230, 190, 118);
    --clock-button-bg-hover: rgb(218, 183, 108);
    --clock-button-bg-active: rgb(207, 192, 102);
}

:root.dark {
    --color: rgb(201, 250, 250);
    --change-quote-filter: invert(87%) sepia(100%) saturate(3141%) hue-rotate(173deg) brightness(99%) contrast(129%);
    --quote-link-color: rgb(202, 182, 24);
    --clock-button-bg: rgb(118, 148, 230);
    --clock-button-bg-hover: rgb(109, 130, 214);
    --clock-button-bg-active: rgb(94, 106, 196);
}

#main-section {
    color: var(--color);
}

/* QUOTE */

.quote-container {
    padding : 20px;
    display: flex;
    height: 200px;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.quote-container h2 {
    width: 800px;
    font-size: 1.5rem;
}

.quote-container a {
    width: 350px;
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color: var(--quote-link-color);
}

.quote-container a:hover {
    color: rgb(238, 49, 15);
}

.quote-container a:visited {
    color: rgb(221, 19, 86);
}

.change-quote {
    filter: var(--change-quote-filter);
    width: 50px;
    height: 50px;
    background: url("images/change.png");
    border-radius: 5px;
    background-size: cover;
    margin-left: 20px;
    border: none;
}

.change-quote:hover {
    background-color: rgb(40, 22, 123, .25);
}

.change-quote:active {
    background-color: rgb(40, 22, 123, .25);
    transform: scale(.99);
}

/* TIME */

.time-warper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-warper .time {
    font-size: 150px;
}

.time-warper .day {
    font-size: 30px;
}

.butts-container button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background: var(--clock-button-bg);
}

.butts-container button:hover {
    background: var(--clock-button-bg-hover);
}

.butts-container button:active {
    background: var(--clock-button-bg-active);
    transform: scale(.98);
}

/* --------------------------------- */

@media screen and (max-width: 500px) {
    
    /* QUOTE */

    .quote-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .quote-box {
        margin-top: 10px;
    }

    .quote-container h2 {
        width: 100%;
        font-size: 1.1rem;
    }

    .change-quote {
        margin: 0;
        width: 30px;
        height: 30px;
    }

    /* TIME */
    
    .time-warper .time {
        font-size: 50px;
    }
}