/* NAV BAR */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

:root.light {
    --nav-bg: rgb(242, 176, 76);
    --body-bg: antiquewhite;
    --fun-bg: rgb(245, 245, 113);
    --fun-color: rgb(53, 53, 56);
    --fun-bg-hover: rgb(220, 230, 115);
    --fun-bg-active: rgb(209, 214, 108);
    --check-container-bg: rgb(233, 221, 221);
    --check-span-bg: rgb(82, 133, 187);
}

:root.dark {
    --nav-bg: rgb(60, 2, 60); 
    --body-bg: rgb(18, 18, 34);
    --fun-bg: rgb(76, 94, 143);
    --fun-color: azure;
    --fun-bg-hover: rgb(67, 88, 128);
    --fun-bg-active: rgb(60, 66, 116);
    --check-container-bg: rgb(218, 130, 64);
    --check-span-bg: rgb(243, 235, 171);
}

body {
    background: var(--body-bg);
    font-family: Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

.functions {
    width: 100%;
    background: var(--nav-bg);
    position: relative;
}

.functions ul {
    list-style: none;
    display: flex;
    padding: 20px;
    gap: 20px;
}

.functions ul #theme-item {
    position: absolute;
    right: 75px;
}

.functions button {
    padding: 10px;
    background: var(--fun-bg);
    border: none;
    font-size: 1.25rem;
    border-radius: 5px;
    color: var(--fun-color);
}

.functions button:hover {
    background: var(--fun-bg-hover);
}

.functions button:active {
    background: var(--fun-bg-active);
    transform: scale(.99);
}

.check-container {
    position: absolute;
    width: 64px;
    height: 32px;
    border-radius: 16px;
    background: var(--check-container-bg);
}

.check-container input[type="checkbox"] {
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.check-container span {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background: var(--check-span-bg);
    transition: all .33s;
    pointer-events: none;
}

.check-container input[type="checkbox"]:checked + span {
    transform: translateX(32px);
}

footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: red
}

footer a {
    text-decoration: none;
    color: red;
}

@media screen and (max-width: 700px) {
    .functions ul {
        padding: 10px;
        gap: 5px;
    }
    
    .functions button {
        padding: 5px;
        font-size: 1rem;
    }

    .functions ul #theme-item {
        position: absolute;
        right: 50px;
    }

    .check-container {
        width: 32px;
        height: 16px;
        border-radius: 8px;
    }
    
    .check-container span {
        width: 12px;
        height: 12px;
        top: 2px;
        left: 2px;
    }
    
    .check-container input[type="checkbox"]:checked + span {
        transform: translateX(16px);
    }
}