:root.light {
    --watch-container-bg: rgb(223, 223, 175);
    --button-filter: none;
    --watch-lap-li-bg: rgb(255, 248, 217);
    --paused-bg: rgb(45, 245, 152);
    --paused-bg-hover: rgb(38, 224, 138);
    --paused-bg-active: rgb(33, 206, 148);
    --playing-bg: rgb(245, 107, 130);
    --playing-bg-hover: rgb(206, 94, 141);
    --playing-bg-active: rgb(204, 85, 114);
    --watch-lap-bg: rgb(245, 199, 113);
    --watch-lap-hover: rgb(233, 193, 107);
    --watch-lap-active: rgb(192, 182, 88);
    --watch-bg: rgb(243, 243, 64);
    --watch-hover: rgb(235, 235, 51);
    --watch-bg-active: rgb(180, 204, 46);
}

:root.dark {
    --watch-container-bg: rgb(5, 62, 107);
    --button-filter: invert(100%) sepia(93%) saturate(50%) hue-rotate(201deg) brightness(95%) contrast(87%);
    --watch-lap-li-bg: rgb(68, 99, 167);
    --paused-bg: azure;
    --paused-bg-hover: rgb(202, 237, 237);
    --paused-bg-active: rgb(195, 227, 238);
    --playing-bg: azure;
    --playing-bg-hover: rgb(202, 237, 237);
    --palying-bg-active: rgb(195, 227, 238);
    --watch-lap-bg: azure;
    --watch-lap-hover: rgb(202, 237, 237);
    --watch-lap-active: rgb(195, 227, 238);
    --watch-bg: azure;
    --watch-bg-hover: rgb(202, 237, 237);
    --watch-bg-active: rgb(195, 227, 238);
}

.watch-container {
    width: 600px;
    margin: 50px auto;
    background: var(--watch-container-bg);
    border-radius: 10px;
}

.watch-buttons ul {
    list-style: none;
    display: flex;
    margin: 10px;
}

.watch-digits {
    display: flex;
    justify-content: center;
}

.watch-digits p {
    font-size: 6rem;
}

.watch-digits sub {
    font-size: 2.5rem;
    align-self: flex-end;
}

.watch-buttons ul {
    position: relative;
}

#paused {
    background: var(--paused-bg);
    background-image: url("images/play.png");
    background-size: cover;
}

#paused:hover {
    background: var(--paused-bg-hover);
    background-image: url("images/play.png");
    background-size: cover;
}

#paused:active {
    background: var(--paused-bg-active);
    background-image: url("images/play.png");
    background-size: cover;
}

#playing {
    background: var(--playing-bg);
    background-image: url("images/pause.png");
    background-size: cover;
}

#playing:hover {
    background: var(--playing-bg-hover);
    background-image: url("images/pause.png");
    background-size: cover;
}

#playing:active {
    background: var(--playing-bg-active);
    background-image: url("images/pause.png");
    background-size: cover;
}

#watch-lap {
    background: var(--watch-lap-bg);
    background-image: url("images/lap.png");
    background-size: cover;
}

#watch-lap:hover {
    background: var(--watch-lap-hover);
    background-image: url("images/lap.png");
    background-size: cover;
}

#watch-lap:active {
    background: var(--watch-lap-active);
    background-image: url("images/lap.png");
    background-size: cover;
}

#watch-reset {
    background: var(--watch-bg);
    position: absolute;
    right: 10px;
    background-image: url("images/reset.png");
    background-size: cover;
}

#watch-reset:hover {
    background: var(--watch-bg-hover);
    background-image: url("images/reset.png");
    background-size: cover;
}

#watch-reset:active {
    background: var(--watch-bg-active);
    background-image: url("images/reset.png");
    background-size: cover;
}

.watch-buttons button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    background-size: cover;
    border: none;
    filter: var(--button-filter)
}

.watch-buttons button:hover {
    transform: scale(1.01);
}

.watch-buttons button:active {
    transform: scale(.99);
}

.watch-laps ul {
    list-style: none;
    font-size: 1.5rem;
    padding: 10px;
}

.watch-laps ul li:nth-child(odd) {
    background: var(--watch-lap-li-bg);
    border-radius: 10px;
}

.watch-laps li {
    display: flex;
    justify-content: space-around;
}

.watch-laps sub {
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .watch-container {
        width: 300px;
        margin: 25px auto;
    }
    
    .watch-buttons ul {
        margin: 5px;
    }

    .watch-digits p {
        font-size: 3.5rem;
    }
    
    .watch-digits sub {
        font-size: 1.5rem;
    }
    
    #watch-reset {
        right: 5px;
    }
    
    .watch-buttons button {
        width: 60px;
        height: 60px;
    }
    
    .watch-laps ul {
        font-size: 1.25rem;
        padding: 5px;
    }
    
    .watch-laps sub {
        font-size: .75rem;
    }
}