:root.light {
    --timer-bg: rgb(230, 231, 143);
    --close-bg: rgb(230, 194, 37);
    --close-bg-hover: rgb(190, 187, 74);
    --close-bg-active: rgb(164, 175, 68);
    --add-timer-filter: invert(85%) sepia(61%) saturate(1406%) hue-rotate(0deg) brightness(80%) contrast(75%);
    --add-timer-filter-hover: invert(85%) sepia(61%) saturate(1406%) hue-rotate(20deg) brightness(80%) contrast(50%);
    --add-timer-input-active: invert(85%) sepia(61%) saturate(1406%) hue-rotate(10deg) brightness(80%) contrast(30%);
    --timer-timer-p-bg: rgb(217, 253, 242);
    --timer-guts-input-bg: rgb(249, 255, 215);
    --timer-guts-input-color: rgb(26, 24, 24);
    --timer-inc-button-bg: rgb(230, 194, 37);
    --timer-inc-button-bg-hover: rgb(190, 187, 74);
    --timer-inc-button-bg-active: rgb(164, 175, 68);
    --progress-button-filter: none;
}

:root.dark {
    --timer-bg: rgb(74, 86, 174);
    --close-bg: rgb(157, 161, 209);
    --close-bg-hover: rgb(123, 131, 186);
    --close-bg-active: rgb(106, 105, 167);
    --add-timer-filter: invert(15%) sepia(97%) saturate(1041%) hue-rotate(213deg) brightness(85%) contrast(95%);
    --add-timer-filter-hover: invert(15%) sepia(97%) saturate(1041%) hue-rotate(230deg) brightness(65%) contrast(95%);
    --add-timer-input-active: invert(15%) sepia(97%) saturate(1041%) hue-rotate(240deg) brightness(50%) contrast(95%);
    --timer-timer-p-bg: rgb(7, 37, 77);
    --timer-guts-input-bg: rgb(110, 135, 184);
    --timer-guts-input-color: azure;
    --timer-inc-button-bg: rgb(3, 3, 184);
    --timer-inc-button-bg-hover: rgb(12, 6, 133);
    --timer-inc-button-bg-active: rgb(8, 24, 141);
    --progress-button-filter: invert(75%) sepia(42%) saturate(1086%) hue-rotate(200deg) brightness(100%) contrast(97%);
}

.timers {
    padding : 25px;
    gap: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.timer {
    background: var(--timer-bg);
    width: 325px;
    height: 425px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}

.close, .reset {
    position: absolute;
    top: 10px;
    background: var(--close-bg);
    background-size: cover;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
}

.close:hover, .reset:hover {
    background: var(--close-bg-hover);
    background-image: url("images/close.png");
    background-size: cover;
}

.close:active, .reset:active {
    background: var(--close-bg-active);
    transform: scale(.98);
    background-size: cover;
}

.reset {
    left: 10px;
    background-image: url("images/reset.png");
}

.reset:hover, .reset:active {
    background-image: url("images/reset.png");
}

.close {
    right: 10px;
    background-image: url("images/close.png");
}

.close:hover, .close:active {
    background-image: url("images/close.png");   
}

.timer-guts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-name {
    text-align: center;
    padding: 5px;
    /* background: rgb(249, 255, 215); */
    width: 150px;
    border: none;
    font-size: 1.25rem;
    border-radius: 5px;
    margin: 10px;
}

.progress-bar {
    position: relative;
}

.progress-bar canvas {
    border-radius: 10px;
    box-shadow: none;
}

.progress-bar button {
    width: 76px;
    height: 76px;
    position: absolute;
    top: 38px;
    left: 38px;
    background: url("images/play.png");
    filter: var(--progress-button-filter);
    background-size: cover;
    border: none;
}

.timer-guts ul {
    list-style: none;
    display: flex;
}

.timer-guts input {
    background: var(--timer-guts-input-bg);
    color: var(--timer-guts-input-color);
}

.timer-guts ul input[type="tel"] {
    width: 75px;
    text-align: center;
    /* background: var(--timer-guts-input-bg);
    color: var(--timer-guts-input-color); */
    border: none;
    padding: 5px;
    font-size: 2.5rem;
    border-radius: 5px;
}

.inputs span {
    font-size: 2.5rem;
}

.labels {
    display: flex;
    justify-content: space-around;
    font-size: 1.25rem;
}

.timer-increments {
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
}

.timer-increments p {
    text-align: center;
}

.timer-increments button {
    text-align: center;
    background: var(--timer-inc-button-bg);
    color: var(--timer-guts-input-color);
    padding: 5px 10px;
    font-size: 1.25rem;
    width: 50px;
    border-radius: 15px;
    border: none;
}

.timer-increments button:hover {
    background: var(--timer-inc-button-bg-hover);
}

.timer-increments button:active {
    background: vaR(--timer-inc-button-bg-active);
    transform: scale(.98);
}

.timer-timer {
    justify-content: space-around;
    font-size: 3rem;
}

.timer-timer li {
    display: flex;
    justify-content: center;
}

.timer-timer p {
    width: 75px;
    text-align: center;
    background: var(--timer-timer-p-bg);
    border-radius: 5px;
}

.add-timer {
    width: 325px;
    height: 425px;
    background: var(--timer-bg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    filter from here : https://codepen.io/sosuke/pen/Pjoqqp
*/

.add-timer button {
    width: 200px;
    height: 200px;
    background: url("images/plus.png");
    background-size: cover;
    filter: var(--add-timer-filter);
    border: none;
}

.add-timer button:hover {
    filter: var(--add-timer-filter-hover);
}

.add-timer button:active {
    filter: var(--add-timer-input-active);
    transform: scale(.98);
}